<div class="foot1 container-fluid">
  <div class="container">
    <div class="row space">
      <div class="box2"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 padrt1 home martop1">
        <span class="head6">Contact</span>
        <p class="p1"><img src="./assets/images/map-icon.png" class="icon4"></img>19 Woodbine Downs Blvd,<br>
            suite 204<br>
            Etobicoke,Ontario<br>
            M9W 6N5</p>
        <p class="p1"><img src="/assets/images/phone-icon.png" class="icon4">905-764-3332</p>
        <p class="p1 p3"><img src="/assets/images/fax-icon.png" class="icon4">905-709-1735</p>
      </div>
      <div class="col-md-1 padrt1"></div>
      <div class="col-md-4 padrt1 martop1">
        <p class="head6">Quick Links</p>
        <div class="row">
          <div class="col-md-5">
            <p class="p1 home">Home</p>
            <p class="p1 p3">Services</p>
            <p class="p1 p3">Employers</p>
            <p class="p1 p3">About Us</p>
            <p class="p1 p3">Contact Us</p>
          </div>
          <div class="col-md-7">
            <p class="p1 home">Privacy Policy</p><div class="box3"></div>
            <a class="none1" href= "/help"><p class="p1 p3">FAQ's</p></a>
            <a class="none1" href= "/terms"><p class="p1 p3">Terms & Conditions</p></a>
          </div>
        </div>
      </div>
      <div class="col-md-1 padrt1"></div>
      <div class="col-md-3 padrt1 martop1">
        <span class="head6">Follow Us</span>
        <p class="p1"><i class="fab fa-facebook-square icon5"></i><i class="fab fa-linkedin icon5"></i><i class="fab fa-youtube icon5"></i></p>
      </div>
    </div>
    <div class="row">
      <div class="box4"></div>
    </div>
  </div>
</div>
</body>
</html>
