<% include header %>
<% include navigation %>
<div class="container-fluid container1" >
  <img src="/assets/images/banner.png" class="home img1">
</div>
<div class="container border1">
  <div class="row martop1">
    <div class="col-md-4 container1 cont1">
        <img src="/assets/images/img1.jpg" class="home img2">
        <p class="tcent1">Looking for a job?</p>
        <p class="tcent1 lorem1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <p class="cardbut1"style="width:100%;"><a class="text-light"><button class="button button2 ">Know More</button></a></p>
    </div>
    <div class="col-md-4 container1 cont2">
        <img src="/assets/images/img2.jpg" class="home img2">
        <p class="tcent1">Our Services</p>
        <p class="tcent1 lorem1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <p class="cardbut1"style="width:100%;"><a class="text-light"><button class="button button2 ">Know More</button></a></p>
    </div>
    <div class="col-md-4 container1 cont3">
        <img src="/assets/images/img3.jpg" class="home img2">
        <p class="tcent1">Employees</p>
        <p class="tcent1 lorem1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        <p class="cardbut1"style="width:100%;"><a class="text-light"><button class="button button2 ">Know More</button></a></p>
    </div>
  </div>
</div>
<% include footer %>
