</head>
<body>
  <div class="container container1">
    <nav class="navbar navbar-expand-lg">
      <a href="/" class="navbar-brand" id="brand01">
        <img src="/assets/images/logo.png" id="logo" alt="CoolBrand">
      </a>
      <button type="button" class="navbar-toggler navico1" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" id="navlinks1">
          <a href="/" class="nav-item nav-link a1"><span class="a1">Home</span></a>
          <a href="/about" class="nav-item nav-link a1"><span class="a1"><span class="a1">About Us</span></a>
          <a href="/faq" class="nav-item nav-link a1"><span class="a1">FAQ'S</span></a>
          <a href="/blog" class="nav-item nav-link a1"><span class="a1">BLOG</span></a>
          <a href="/contact" class="nav-item nav-link a1"><span class="a1">Contact Us</span></a>
        </div>
        <div class="navbar-nav ml-auto navmarl">
          <ul class="navbar-nav nav2 ">
            <li class="navbar-text text-light"><a class=" nav-link btn button1" href="/registeration">Talk To Us Now</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
