<% include header %>
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<title>DogMate</title>
</head>
<body class="scrollbar scrollbar-primary">
  <% include navigation %>
  <div class="container pricing" style="margin-top:1vw;">
        <div class="col-sm-12 size-1 font-weight-bold mb-1">
          <a href="/" class="red ">Home</a>&nbsp;/&nbsp;About Us
        </div>
    </div>
  </div>
  <div class="row">
    <div class="container mt-3 mb-5 " id="edited">
        <div class="col-sm-12">
            <%- data %>
        </div>
    </div>
  </div>
  <% include footer %>
