<% include header %>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/signup.css">
</head>
<body class="scrollbar scrollbar-primary">
<% include navigation %>
<div class="container-fluid pricing">
  <div class="container" >
        <h2 class="red">Please Verify Your email to Access This Feature......</h2>
</div></div>

<% include footer %>
