<% include header %>
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<title>DogMate</title>
</head>
<body>
  <% include navigation %>
  <div class="container-fluid pricing">
    <div class="row" style="margin-top:1vw;">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-11 col-md-11 col-lg-11 size-1 font-weight-bold">
          <a href="/" class="red ">Home</a>&nbsp;/&nbsp;Terms and Conditions 
        </div>
    </div>
  </div>
  <div class="container mb-5 mt-3" id="edited">
    <p style="width:100%;font-size:2em;text-align:center;">This Content is Coming Soon.</p>
  </div>
  <% include footer %>
