<% include header %>
<title>Dog Mate</title>
</head>
<body>
<% include navigation %>
      <div class="row">
        <div class="col-md-12 column">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active ul1"></li>
              <li data-target="#demo" data-slide-to="1" class="ul1"></li>
              <li data-target="#demo" data-slide-to="2" class="ul1"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item item1 active">
                <img src="Files/combined.png" alt="combined" class="imgcar3">
                <button type="button" name="button1" class="btn button2">Find A Mate</button>
                <button type="button" name="button1" class="btn button3"><p class="arrow-right"></p>How it works</button>
              </div>
              <div class="carousel-item">
                <img src="Files/combined.png" alt="combined" class="imgcar3">
                <button type="button" name="button1" class="btn button2">Find A Mate</button>
                <button type="button" name="button1" class="btn button3"><p class="arrow-right"></p>How it works</button>
              </div>
              <div class="carousel-item">
                <img src="Files/combined.png" alt="combined" class="imgcar3">
                <button type="button" name="button1" class="btn button2">Find A Mate</button>
                <button type="button" name="button1" class="btn button3"><p class="arrow-right"></p>How it works</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 center1">Network of Pet Lovers & House sitters</div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 div1">
          <img src="Files/dog-scarf.jpg" alt="dog-with-scarf" class="img3">
          <span class="head2">Find a mate</span>
          <ul class="list2">
            <li class="l1">Item 1</li>
            <li class="l1">Item 2</li>
            <li class="l1">Item 3</li>
            <li class="l1">Item 4</li>
            <li class="l1">Item 5</li>
          </ul>
          <button type="button" name="button1" class="btn button4">Find A Mate</button>
        </div>
        <div class="col-md-5 div1">
          <img src="Files/man-with-dog.png" alt="man-with-dog" class="img3">
          <span class="head2">Find a Sitter</span>
          <ul class="list2">
            <li class="l1">Item 1</li>
            <li class="l1">Item 2</li>
            <li class="l1">Item 3</li>
            <li class="l1">Item 4</li>
            <li class="l1">Item 5</li>
          </ul>
          <button type="button" name="button1" class="btn button4">Find A Sitter</button>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-xs-2 marleft2 part1">
          <p class="head3 padleft2">Top</p>
          <p class="head3 mates2">Mates</p>
          <div class="display1"><p class="pointleft"></p><p class="line"></p><p class="p3">&nbsp&nbsp&nbsp&nbsp</p><p class="line"></p><p class="pointright"></p></div>
        </div>
        <div class="col-xs-2 padleft2 part2">
          <img src="Files/dog1.jpg" alt="dog1" class="mates1">
          <p class="matename">Chloe, 1.5yr</p>
          <p class="matetype">Huskey</p>
          <p class="star1">
            <span class="fa fa-star fa-sm checked padleft2"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="padleft2"><img src="Files/badge.png" alt="badge" class="badge1"></span><span class="numbers1">250</span>
          </p>
        </div>
        <div class="col-xs-2 padleft2 part3">
          <img src="Files/dog2.jpg" alt="dog2" class="mates1">
          <p class="matename">Sasha, 2yr</p>
          <p class="matetype">American Eskimo</p>
          <p class="star1">
            <span class="fa fa-star fa-sm checked padleft2"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class=""><img src="Files/halfstar.PNG" alt="half" class=""></span>
            <span class="padleft2"><img src="Files/badge.png" alt="badge" class="badge1"></span><span class="numbers1">220</span>
          </p>
        </div>
        <div class="col-xs-2 padleft2 part4">
          <img src="Files/dog3.png" alt="dog3" class="mates1">
          <p class="matename">Ollie, 2yr</p>
          <p class="matetype">Brown Retreiver</p>
          <p class="star1">
            <span class="fa fa-star fa-sm checked padleft2"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class=""><img src="Files/emptystar.png" alt="half" class=""></span>
            <span class="padleft2"><img src="Files/badge.png" alt="badge" class="badge1"></span><span class="numbers1">203</span>
          </p>
        </div>
        <div class="col-xs-2 padleft2 part5">
          <img src="Files/dog4.png" alt="dog4" class="mates1">
          <p class="matename">Rocky, 2.5yr</p>
          <p class="matetype">Golden Retreiver</p>
          <p class="star1">
            <span class="fa fa-star fa-sm checked padleft2"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class=""><img src="Files/halfstar.PNG" alt="half" class=""></span>
            <span class=""><img src="Files/emptystar.png" alt="half" class=""></span>
            <span class="padleft2"><img src="Files/badge.png" alt="badge" class="badge1"></span><span class="numbers1">193</span>
          </p>
        </div>
        <div class="col-xs-2 padleft2 part6">
          <img src="Files/dog5.png" alt="dog5" class="mates1">
          <p class="matename">Calli, 11 months</p>
          <p class="matetype">Golden Retreiver</p>
          <p class="star1">
            <span class="fa fa-star fa-sm checked padleft2"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class="fa fa-star fa-sm checked"></span>
            <span class=""><img src="Files/halfstar.PNG" alt="half" class=""></span>
            <span class=""><img src="Files/emptystar.png" alt="half" class=""></span>
            <span class="padleft2"><img src="Files/badge.png" alt="badge" class="badge1"></span><span class="numbers1">190</span>
          </p>
        </div>
        <div class="col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-md-6 padlr1">
          <img src="Files/dogrunning.png" alt="dog running" class="img4"></img>
        </div>
        <div class="col-md-6 padlr1">
          <span class="center2">
            <p class="head4">Register Your dog</p>
            <p class="subhead1">Create your dog's profile & mate with</p>
            <p class="subhead1">Hundereds of Registered Dogs</p>
            <p class="p3"><button type="button" name="button1" class="btn button5">Register Now</button></p>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 padlr1">
          <span class="center2">
            <p class="head4">Register As Sitter</p>
            <p class="subhead1">Sit for pet care for flexible hours and</p>
            <p class="subhead1">earn money.</p>
            <p class="p3"><button type="button" name="button1" class="btn button5">Register Now</button></p>
          </span>
        </div>
        <div class="col-md-6 padlr1 girlwithdog1">
          <img src="Files/girlwithdog.png" alt="girl with dog" class="img4"></img>
        </div>
      </div>
      <div class="row padleft2">
        <div class="col-md-11 cards">
          <div id="demo1" class="carousel slide" data-ride="carousel" data-interval="false">
            <ul class="carousel-indicators cri1">
              <li data-target="#demo1" data-slide-to="0" class="active ul1"></li>
              <li data-target="#demo1" data-slide-to="1" class="ul1"></li>
              <li data-target="#demo1" data-slide-to="2" class="ul1"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-group cgp1">
                  <div class="card crd1 crd2">
                    <div class="card-body justify1 ">
                      <img src="Files/girloncliffwithdog.png" alt="shy girl with dog" class="img5">
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p class="head5">Testimonials</p>
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes1 quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span></p>
                      <p class="job1">Home Sitter</p>
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span></p>
                      <p class="job1">Home Sitter</p>
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span></p>
                      <p class="job1">Home Sitter</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item item2">
                <div class="card-group cgp1">
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span>
                        </p><p class="job1">Home Sitter</p>
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span></p>
                      <p class="job1">Home Sitter</p>
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span>
                        </p><p class="job1">Home Sitter</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item item2">
                <div class="card-group cgp1">
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span></p>
                      <p class="job1">Home Sitter</p>
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span>
                      </p><p class="job1">Home Sitter</p>
                    </div>
                  </div>
                  <div class="card crd1">
                    <div class="card-body justify1">
                      <p><img src="Files/doublequotes.png" alt="doublequotes" class="dbquotes quotes"></p>
                      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <p><span class="line2"></span><img src="Files/profilepic.png" alt="profile pic" class="profpic"></img><span class="sue1">Sue</span>
                      </p><p class="job1">Home Sitter</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <a class="carousel-control-prev" href="#demo1" data-slide="prev">
            <span><img src="Files/leftarrow.png" alt="left" class="left1"></span>
          </a>
          <a class="carousel-control-next" href="#demo1" data-slide="next">
            <span><img src="Files/rightarrow.png" alt="right" class="right1"></span>
          </a>
        </div>
      </div>
      <% include footer %>
