<% include header %>
    <link rel="stylesheet" href="css/registerdog.css">
  </head>
<% include navigation %>
    <div class="container-fluid pricing">
      <div class="row margins">
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-sm-11 col-md-11 col-lg-11 size-1 font-weight-bold">
            <a href="/" class="red ">Home</a>&nbsp;/&nbsp;Register a Dog
          </div>
      </div>
      <div class="marlr1">
        <form class="size-1" name="myform2" id="myform2" method="post">
          <div class="row">
            <div class="col">
              <h3 class="fsize"> Register Your Dogs </h3>
              <span class="underline2"></span>
            </div>
          </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Dog Name <span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="dog-name1" placeholder="Dog Name">
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">Breed<span class="text-danger">*</span></p>
              <select name="dog-breed1" class="custom-select sel1">
                <option selected>Select</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">Gender<span class="text-danger">*</span></p>
              <select name="dog-gender1" class="custom-select sel1">
                <option selected>Select</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">Age<span class="text-danger">*</span></p>
              <select name="dog-age1" class="custom-select sel1" placeholder="Age">
                <option selected>Select</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-group cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">About Me<span class="text-danger" >*</span></p>
              <textarea name="dog-info1" class="form-control sel1" rows="3" placeholder="Write something about your dog"></textarea>
            </div>
          </div>
          <input type="hidden" name="form1" value="1"/>
        </div>
        <div id="wrappers">
        </div>
        <a class="display1" id="add_another" href="/registerdog">
          <div class="circleBase type1"><span class="fontplus">+</span></div>
          <p class="green1">Add Another Dog</p>
        </a>
        <div class="row">
          <div class="col">
            <h3 class="fsize"> Contact Info </h3>
          </div>
        </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Your Name <span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="u-name" placeholder="Owner Name" <% if(uname !== " "){ %> value="data.Name" disabled <% } %>>
            </div>
          </div>
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Your Email <span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="u-email" placeholder="Email Address" <% if(uname !== " "){ %> value="data.Name" disabled <% } %> >
            </div>
          </div>
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Phone <span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="u-phone" placeholder="Phone" <% if(uname !== " "){ %> value="data.Name" disabled <% } %> >
            </div>
          </div>
        </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Street Address<span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="u-add" placeholder="Street Address">
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">City<span class="text-danger">*</span></p>
              <select name="u-city" class="custom-select sel1" placeholder="Age">
                <option selected>City</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">State<span class="text-danger">*</span></p>
              <select name="u-state" class="custom-select sel1" placeholder="Age">
                <option selected>State</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Zip <span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="u-zip" placeholder="Zip">
            </div>
          </div>
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Password <span class="text-danger">*</span></p>
              <input type="text" class="form-control sel1" name="u-pass" placeholder="Password">
            </div>
          </div>
          <% if(uname === " "){ %>
            <div class="card crd1 crdleft">
              <div class="card-body">
                <p class="card-text">Confirm Password <span class="text-danger">*</span></p>
                <input type="text" class="form-control sel1" name="u-cpass" placeholder="Confirm Password">
              </div>
            </div>
            <input type="hidden" name="logedin" value="0">
          <% }else{ %>
            <input type="hidden" name="logedin" value="1">
          <% } %>
        </div>
        <p class="policies"> By joining you agree to <a href="" class="policieslink">Our Terms and Conditions</a> and <a href="" class="policieslink"> Privacy Policies</a></p>
        <button type="submit" class="btn button-default btn2" id="dogregister">Register Now</button>
      </form>
    </div>
  </div>
<% include footer %>
