<div class="row foot1">
  <div class="col-md-1"></div>
  <div class="col-md-2 padrt1">
    <span class="head6">
      Quick Links
    </span>
    <p class="p1">About Us</p>
    <p class="p3">FAQ'S</p>
    <p class="p3">Blog</p>
    <p class="p3">Pricing</p>
    <p class="p3">Contact Us</p>
    <p class="p3">Testimonials</p>
    <p class="p3">Terms and Conditions</p>
    <p class="p3">Help</p>
  </div>
  <div class="col-md-2 padrt1">
    <p class="p2">Find a Mate</p>
    <p class="p3">Find a Sitter</p>
    <p class="p3">Register a Dog</p>
    <p class="p3">Register a Sitter</p>
    <% if (typeof uname === 'undefined') {%>
      <p class="p3">Login</p>
    <% } %>
  </div>
  <div class="col-md-2 padrt1">
    <span class="head6">Contact</span>
    <p class="p1"><i class="fa fa-phone icon4"></i>9876 543 210</p>
    <p class="p3"><i class="far fa-envelope icon4"></i>email@example.com</p>
    <span class="head6">Get In Touch</span>
    <p class="p3"><i class="fab fa-facebook-f icon5"></i><i class="fab fa-instagram icon5"></i><i class="fab fa-twitter icon5"></i><i class="	fab fa-youtube icon5"></i></p>
  </div>
  <div class="col-md-4 form11">
    <span class="head6">Newsteller</span>
    <p class="p4">Sign Up for free Newsteller</p>
    <form class="" action="" method="" name="form1">
      <input type="text" name="emailadd" placeholder="Email address" class="emailadd">
      <button class="submit1"><i class="fa fa-paper-plane icon6"></i></button>
    </form>
    <img src="assets/images/manwalkdog.png" alt="manwalkdog" class="img6">
  </div>
  <div class="col-md-1"></div>
</div>
</div>
</body>
</html>
