<% include header %>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/rs-chat@1.0.7/dist/rs-chat.min.css">
<title>DogMate</title>
</head>
<body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript" href="https://unpkg.com/rs-chat@1.0.7/dist/rs-chat.min.js"></script>
  <script type="text/javascript">
  RSChat.init({
  socketUrl: 'http://localhost:8080/', // server url,
    userId: '1', // logged in user id
    name: 'ravi shukla' // logged in user name
  });
  </script>
<div class="red" id="list">

</div>
<div class="chatlist">
  <div class="ltstChat" style="cursor:pointer;" onclick="return RSChat.start('2','Manju Shukla')">
    <div class="chatlistDt1">
      <b>Manju </b>
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in</small>
    </div>
  </div>

</div>
</body>
</html>
