<% include header %>
<title>Pricing</title>
</head>
<body>
<% include navigation %>
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <p class="font1"><span class="link1"><a href="/">Home</a></span>/Pricing</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card-deck flexflow1">
      <div class="card text-center cards1" onmouseenter="highlight1(this)" onmouseleave="dehighlight1(this)">
        <div class="card-body">
          <p class="card-head">BASIC</p>
          <div class="container-fluid fluid1">
            <div>$10/month</div>
          </div>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <button class="button6">Choose Plan</button>
        </div>
      </div>
      <div class="card text-center cards1" onmouseenter="highlight1(this)" onmouseleave="dehighlight1(this)">
        <div class="card-body">
          <p class="card-head">GOLD</p>
          <div class="container-fluid fluid1">
            <div>$20/month</div>
          </div>
          <p><i class="	fas fa-check tick "></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <p class="nono">Lorem ipsum dolor</p>
          <button class="button6">Choose Plan</button>
        </div>
      </div>
      <div class="card text-center cards1" onmouseenter="highlight1(this)" onmouseleave="dehighlight1(this)">
        <div class="card-body">
          <p class="card-head">PLATINUM</p>
          <div class="container-fluid fluid1">
            <div>$30/month</div>
          </div>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <p><i class="	fas fa-check tick"></i>Lorem ipsum dolor</p>
          <button class="button6">Choose Plan</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<% include footer %>
