<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog Mate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="css/master.css">
    <script src="javascript/file1.js"></script>
  </head>
  <body>
    <div class="modal fade" id="modalLoginForm" tabindex="-1">
      <div class="modal-dialog main1" role="document">
        <div class="modal-content">
          <div class="modal-header text-center header">
            <button class="btn btn-default loginbutton"><p class="modal-title w-100 font-weight-bold">LOGIN</p></button>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true" class="cross">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3 body1">
            <div class="signin">
              <div class="md-form mb-5 inline1">
                <label data-error="wrong" data-success="right" for="defaultForm-email">Email Address</label>
                <div class="input-group">
                  <input type="email" id="loginemail" class="form-control validate input1" placeholder="Email Address">
                  <div class="input-group-append">
                    <span class="fas fa-envelope prefix grey-text formicons"></span>
                  </div>
                </div>
                <span class="underline1"></span>
              </div>
              <div class="md-form mb-4 inline1">
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
                <div class="input-group">
                  <input type="password" id="loginpass" class="form-control validate input1" placeholder="Password">
                  <div class="input-group-append">
                    <i class="fas fa-lock prefix grey-text formicons"></i>
                  </div>
                </div>
                <span class="underline1"></span>
              </div>
              <div class="inline2">
                <p class="fp"><a href="#"> Forgot Password? </a></p><button class="btn btn-default btn1" id="loginbtn">Login</button>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center footer1">
            <p class="faded"> Don't have an Account? <span class="linkred"><a href="signup" class="linkred">Register Here</a></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="viewport">
      <div class="row top1">
        <div class="col-md-1"></div>
        <div class="col-md-3 md1"><img src="Files/dog_head1.png" alt="dog head" class="img1"><span class="font1">Find a mate | <img src="Files/person1.png" alt="Person" class="img1">Find a Sitter</span></div>
        <div class="col-md-3"></div>
        <div class="col-md-4"><span class="padleft1 font1">Register as Sitter | Register a dog | Support</span></div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-12 nav1">
          <nav class="navbar navbar-expand-md">
            <a href="#" class="navbar-brand">
              <img src="Files/dogmateicon1.png" id="logo" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"><img src="Files/navbar-icon1.png" class="img2" alt="toggle"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                <a href="/" class="nav-item nav-link a1"><span class="a1"><span class="a1">About Us</span></a>
                <a href="/" class="nav-item nav-link a1"><span class="a1">FAQ'S</span></a>
                <a href="/" class="nav-item nav-link a1"><span class="a1">BLOG</span></a>
                <a href="Pricing" class="nav-item nav-link a1"><span class="a1">Pricing</span></a>
                <a href="/" class="nav-item nav-link a1"><span class="a1">Contact Us</span></a>
              </div>
              <div class="navbar-nav ml-auto padright1">
                <ul class="navbar-nav nav2 ">
                  <li class="navbar-text text-dark"><a href="pricing?signin" ><span class="a1">Sign In</span></a><button type="button" name="button1" class="btn button1">Get Started</button></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
