<% include header %>
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <p class="font1"><span class="link1"><a href="/">Home</a></span>/Pricing</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-head">BASIC</p>
          <div class="container-fluid fluid1">
            <div>$10/month</div>
          </div>
          <p><i class="	fas fa-check"></i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
