<% include header %>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<title>DogMate</title>
</head>
<body>
  <% include navigation %>
  <div class="container-fluid pricing">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-11 col-md-11 col-lg-11 size-1 font-weight-bold">
          <a href="/" class="red ">Home</a>&nbsp;/&nbsp;About Us
        </div>
    </div></div>
  <h1>ABOUT US</h1>
  <% include footer %>
</body>
</html>
