<% include header %>
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<title>DogMate</title>
</head>
<body>
  <div class="container-fluid pricing">
    <% if(data.id==1){ %>
      <h1>Congratulations You Have Successfully Verified Your Email</h1>
    <% } else { %>
    <h1>Oops!! There's Been Some Problem in Verfication !! We'll Revert Back to You Soon.</h1><% } %>
</div>
</body>
</html>
