<% include header %>
<link rel="stylesheet" type="text/css" href="assets/style.css">
<title>DogMate</title>
</head>
<body>
  <% include navigation %>
  <h1>FIND A MATE HERE</h1>
  <% include footer %>
</body>
</html>
