<% include header %>
<title>Dog Mate</title>
</head>
<body>
<% include navigation %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span>The email has been sent. It might take 2-3 minutes to show up in your inbox. Please use the link in it to Reset Password.</span>
        <p> No Email Sent? <a href="#" onclick="goback()">Click Here To Try Again. </a></p>
        <script type="text/javascript">
          function goback(){
             window.history.back();
          }
        </script>
      </div>
    </div>

  </div>
<% include footer %>
