<html>
<head>
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/assets/css/notfound.css">
</head>
<body>
  <div class="parent1">
		<div class="child1">
			<div class="content1">
				<h1>404</h1>
			</div>
			<h2>Oops! This Page Could Not Be Found</h2>
			<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
			<a href="#" onclick="goback()">&lt;&lt; Go Back</a>
      <script>
        function goback(){
          window.history.back();
        }
      </script>
		</div>
	</div>
</body>
</html>
