<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Using Ejs with express</title>
  </head>
  <body>
    <h1>Enter your name</h1>
    <form action="/submission" method="post">
      <input type="text" name="name" placeholder="Your name">
      <input type="submit" name="submit" value="OK">
    </form>
    <ul>
      <% for (person of people) {%>
        <% if(person.name === 'dave'){ %>
          <li>This is definately <% person.name %></li>
        <% } else { %>
          <li> This is definately not dave. This is <% person.name %></li>
        <% } %>
      <% } %>
  </body>
</html>
