<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Layouts</title>
  </head>
  <body>
    <ul class="ul1"><li class="li1"><a href="localhost:3000">Home</a></li><li class="li1"><a href="localhost:3000/about">About</a></li></ul>
    <%- body %>
  </body>
</html>
