<% include header %>
  <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<% include navigation %>
  <h1 class="red m-5 p-5"> Please Verify your Email First. </h1>
<% include footer %>
