<div class="foot-color">
  <div class="container">
    <div class="row reg">
      <div class="col-md-4 col-lg-5 mt-5" >
        <h3 class="quick-links-head">Quick Links</h3>
        <div class="row">
        <div class="col-6 quick-links size-1">
          <p><a href="/about">About us</a></p>
          <p><a href="/faq">FAQ's</a></p>
          <p><a href="/blog">Blog</a></p>
          <p><a href="/pricing">Pricing</a></p>
          <p><a href="/contact">Contact us</a></p>
          <p><a href="#">Testimonials</a></p>
          <p><a href="#">Terms and Conditions</a></p>
          <p><a href="#">Help</a></p>
        </div>
        <div class="col-6 quick-links size-1">
          <p><a href="#">Find a Mate</a></p>
          <p><a href="#">Find a Sitter</a></p>
          <p><a href="/dog">Register a Dog</a></p>
          <p><a href="/sitter">Register as a Sitter</a></p>
          <p><a href="#">Login</a></p>
        </div>
      </div>
    </div>
      <div class="col-md-4 col-lg-3 mt-5 text-white" >
        <h3 class="quick-links-head">Contact</h3>
            <p class="size-1"><i class='fas fa-phone-volume'></i> 9876 543 210</p>
            <p class="size-1"><i class='fas fa-envelope'></i> emil@example.com</p>
            <h3 class="quick-links-head mt-4">Get in touch</h3>
            <p class="size-1">
              <a href="#"><i class='fab fa-facebook-f'></i></a>&nbsp;
              <a href="#"><i class='fab fa-instagram'></i></a>&nbsp;
              <a href="#"><i class='fab fa-twitter'></i></a>&nbsp;
              <a href="#"><i class='fab fa-youtube'></i></a>
            </p>
        </div>
      <div class="col-md-4 col-lg-4 mt-5" >
        <h3 class="quick-links-head-news">Newsletter</h3>
        <p class="quick-links size-1">Sign up for free newsletter</p>
        <form>
          <span><input class="input-my size-1" type="text" placeholder="Email address">
          <button class="red-button size-1" type="submit" name="button"><i class='fas fa-paper-plane'></i></button></span>
        </form>
        <img class="walk" src="assets/images/walk.png" alt="">
        </div>
    </div>
    <div class="row reg">
      <div class="col-md-12 col-lg-12 mt-5">
          <p class="copy-text size-1">Copyrights 2019, Dog Mate</p>
      </div>
    </div>
  </div>
</div>
