<% include header %>
<link rel="stylesheet" type="text/css" href="assets/style.css">
<title>DogMate</title>
</head>
<body>
<h1>RESGISTER YOUR DOG HERE</h1>
<form class="" action="" method="GET">
  <div id="change">
    <div id=repeat class="something">
      name=<input type="text" name="name[]">
  </div>
  </div>
  <a href="#" id="'addmore" onclick="return addmore()">addmore</a>
  <input type="submit">
</form>
</body>
</html>
