<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/geturl" method="post" enctype="multipart/form-data">
      <input type="text" name="url" value="" style="height: 100px;width: 95%;">
      <button type="submit">enter</button>
    </form>
  </body>
</html>
